<!DOCTYPE html>
<html>
<head>
  <title>CompassRailsSpriteLoadPath</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="left">Image with the same name is present in both directories</div>
  <div id="middle">Image only present in first directory</div>
  <div id="right">Image only present in second directory</div>

</body>
</html>
